.form-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}

.list-unstyled li:hover {
    transform: translateY(-2px);
  }
  .list-unstyled i {
    font-size: 20px; /* Adjust the font size as needed */
  }

  .maintext{
    margin-top: 20px;
    padding-top: 8%;
  }

  @media only screen and (max-width: 600px) {
    .maintext{
      margin-top: 18px;
      padding-top: 15%;
    }
  }
  @media only screen and (max-width: 600px) {
    .right{
    align-items: center;
   
     
    }
  }